<!DOCTYPE html>
<html>
<head>
  <style>
  #vidList {
    overflow-y: scroll;
    -webkit-transition: height 0.8s;
    -moz-transition: height 0.8s;
    transition: height 0.8s;
  }
  a.list-group-item:hover {
    cursor:default;
  }
  .ad {
    position:fixed;
    bottom:0;
    width:100%;
  }

  </style>
  <title>Chronological CTFxC</title>
  <!-- SCROLLS -->
  <!-- load bootstrap and fontawesome via CDN -->
<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
  <link rel="stylesheet" href="style.css">
  <!-- SPELLS -->
  <!-- load angular and angular route via CDN -->
</head>
<body ng-app="app">
<div ng-controller="Ctrl">

<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicon.ico" type="image/x-icon">
<div class="ng-cloak">
<div class="container" style="margin-bottom:140px">
  <h1>Chronological CTFxC</h1>
  <div class="row">
  <div class="col-sm-6">
  <div id="stage"></div>
  </div>
  <div class="col-sm-offset-1 col-sm-5" id='vidList'>
    <div class="list-group">
      <a class="list-group-item" ng-repeat="vid in vids track by $index" ng-click="byId($index)">{{vid.title}}</a>
    </div>
  </div>
  </div>

  <br>
    <datepicker ng-model="st" show-weeks='false'></datepicker>
</div>
</div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap-tpls.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datejs/1.0/date.min.js"></script>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://www.youtube.com/iframe_api"></script>
<script src="script.js"></script>

</body>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<div class="ad">
<!-- chronological-ctfxc -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-5931961133736315"
     data-ad-slot="9250160258"
     data-ad-format="auto"></ins>
   </div>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-41646350-11', 'auto');
  ga('send', 'pageview');

</script>
</html>
